
# create direnv's .envrc to activate pyaudio's virtual environment
source /Users/FYE7200/.pyenv/versions/3.6.3/bin/virtualenvwrapper.sh
workon pyaudio
export PROJECT_HOME=/Users/FYE7200/Documents/Real_Time_Products/repos/pyaudio
unset PS1

